{% extends 'index.html' %}

{% block content %}
<div class="container d-flex justify-content-center" style="max-width: 800px;">
    <form class="form form-control" name="reportIncidentForm" action="{% url 'reportIncident'%}">
        {% csrf_token %}
        <div class="mb-3">
            <p>
                <label for="Incident Type">Incident type</label>
                <input name="incidentType" list="incidentTypes" class="form-control" placeholder="Occurrence types...">
                <datalist id="incidentTypes">
                    {% for incidentType in incidentTypeList %}
                    <option value="{{incidentType.name}}">
                    {% endfor %}
                </datalist>
            </p>
        </div>
        <div class="mb-3">
            <p>
                <label for="Occurrence date">Occurrence date</label>
                <input class="form-control" name="occurrenceDate" id="occurrenceDate" placeholder="Occurrence date...">
            </p>
        </div>
        <div class="mb-3">
            <label for="Occurrence description">Occurrence description</label>
            <textarea class="form-control" name="occurreDescription" id="occurreDescription" placeholder="Occurrence description..."></textarea>
        </div>
    </form>
</div>
{% endblock %}