{% extends 'index.html' %}

{% block content %}
<div class="container d-flex justify-content-center" style="max-width: 800px;">
    <form class="form form-control" name="reportIncidentForm" action="{% url 'reportIncident'%}">
        {% csrf_token %}
        <div class="mb-3">
            <p>
                <label for="occurrence Type">Incident type</label>
                <input name="incidentType" list="incidentTypes" class="form-control" placeholder="Occurrence types...">
                <datalist id="incidentTypes">
                    {% for incidentType in incidentTypeList %}
                    <option value="{{incidentType.name}}">
                    {% endfor %}
                </datalist>
            </p>
        </div>
    </form>
</div>
{% endblock %}